<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMarksServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatisticsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentsByStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetStudentsByStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StudentViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMarksServlet</servlet-name>
        <url-pattern>/AddMarksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatisticsServlet</servlet-name>
        <url-pattern>/GetStatisticsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentsByStatusServlet</servlet-name>
        <url-pattern>/GetStudentsByStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewServlet</servlet-name>
        <url-pattern>/StudentViewServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
